*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.main{
  padding: 5px 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  gap: 10px;
 
  
}

.card{
  width: 230px;
  padding: 2px;
  padding-bottom: 20px;
  background-color:rgba(55, 54, 54, 0.708);
  border-radius: 20px;
    overflow: hidden;

}
 .card .image{
  border-radius: 20px; 
  height: 250px;
  width: 100%;
  background-color: green;
  overflow: hidden;
 }

 .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

 .bottom{
  width: 100%;
  padding: 15px;
 }

 .card h3{
  font-weight: 500;
  padding-top: 5px;
  color: #fff;
  opacity: 0.8;
  margin-right: 3px;
 }
 .card h3 i{
  color:green;
 }

 .card p{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 100;
  opacity: 0.5;
  padding-top: 7px;
 }

 .icon{
  height: 20px;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content:space-between;

 }

  .icon .contact{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .icon .projects{
    display: flex;
    align-items: center;
    gap: 5px;
  }



 .icon button{
  padding: 8px 16px ;
  background-color: #252525;
  box-shadow: 0px 0px black;
  border-radius: 20px; 
  border: none;
  color: #fff;
 }