*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.main{
  padding-top: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
   
}

.card{
  padding: 5px;
  height: 300px;
  width: 230px;
  border-radius: 10px;
  background-color: red;
}

.card h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
p{
  text-align: center;
  font-size: 18px;
}

.text-div{
  display: flex;
  flex-direction:column;
  
  gap: 10px;
}

 button{
      padding: 10px 30px;
      border-radius: 10px;
      background-color: green;
      border: none;
 }

 button:active{
  scale: 0.95;
 }